.new-post-header-area {
  border: 1px solid black;
  height: 120px;
  text-align: center;
  background-color: #ec9d66;
}

#forum-input {
  border: 1px solid black;
}

.new-post-form {
  text-align: center;
  margin-right: 25px;
}

#new-post-button {
  border: 1px solid black;
  margin-top: 15px;
  width: 65px;
  background-color: darkgrey;
  -webkit-appearance: none;
}

#new-post-cancel-button {
  border: 1px solid black;
  position: absolute;
  right: 20%;
  bottom: 0px;
  width: 65px;
  background-color: darkgrey;
  -webkit-appearance: none;
}

.new-post-cancel-button-area {
  position: relative;
}

#new-post-content {
  border: 1px solid black;
  height: 50px;
}

.new-post-labels {
  display: inline-block;
  width: 80px;
  text-align: right;
}

#new-post-title,
#new-post-content,
#forum-input {
  margin-left: 5px;
}

#forum-selecter {
  border: 1px solid black;
}

#new-post-title,
#new-post-content {
  border-style: inset;
  border-width: 2px;
  width: 200px;
}

.new-post-area {
  background-color: #f1f0ee;
}

#new-post {
  margin-top: 0;
  padding-top: 10px;
}

#new-post-header-quote {
  text-align: left;
  font-family: "Bradley Hand";
  padding-left: 5px;
  padding-top: 10px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  #new-post-content {
    height: 150px;
    width: 400px;
  }

  #new-post-title {
    width: 400px;
  }

  #new-post-button {
    margin-top: 15px;
    margin-right: 5%;
  }

  #new-post-header-quote {
    font-size: 20px;
  }

  #new-post-cancel-button {
    right: 40%;
  }
}

@media screen and (min-width: 1024px) {
  #new-post-header-quote {
    font-size: 26px;
  }

  .new-post-labels {
    font-size: 22px;
  }

  #new-post-title {
    height: 30px;
    width: 500px;
  }
  #new-post-content {
    width: 500px;
  }
  #forum-input {
    width: 250px;
  }

  #new-post-button {
    width: 100px;
    height: 30px;
    font-size: 16px;
  }

  #new-post-cancel-button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    left: 53%;
  }
}
