#add-reply-input {
  height: 75px;
  width: 200px;
  margin-top: 20px;
  border: 1px solid black;
}

.add-reply {
  text-align: center;
  margin-top: 20px;
}

#reply-button {
  border: 1px solid black;
}

@media screen and (min-width: 768px) {
  #add-reply-input {
    width: 350px;
    height: 130px;
  }
}
