.post-content-area {
  border: 1px solid black;
  height: 75px;
  background-color: #f1f0ee;
}

#post-delete-button {
  border: 1px solid black;
}

#post-edit-button {
  border: 1px solid black;
  margin-right: 7px;
  width: 35px;
  height: 15px;
  font-size: 8px;
}

.post-button-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.post-content {
  font-weight: bold;
  font-size: 13px;
}

.content-border {
  border: 1px solid black;
  background-color: #b95b5c;
  font-size: 5px;
  color: white;
}
