.post-content-area {
  border: 1px solid black;
  height: 75px;
  background-color: #f1f0ee;
  position: relative;
}

#post-delete-button {
  border: 1px solid black;
}

#post-edit-button {
  border: 1px solid black;
  margin-right: 7px;
  width: 35px;
  height: 15px;
  font-size: 8px;
}

.post-button-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.post-content {
  font-weight: bold;
  font-size: 13px;
  margin-left: 2px;
  margin-top: 3px;
}

.content-border {
  border: 1px solid black;
  background-color: #b95b5c;
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#content-author {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .post-content-area {
    height: 100px;
  }

  #post-edit-button {
    width: 40px;
    height: 20px;
    font-size: 10px;
  }

  .post-content {
    font-size: 15px;
    position: absolute;
    top: 25%;
    left: 5px;
  }

  .post-content-area {
    position: relative;
  }

  #content-author {
    position: absolute;
    bottom: 0;
  }
}
