#reply-edit-delete-button,
#reply-edit-save-button {
  border: 1px solid black;
  width: 100px;
  background-color: darkgrey;
}

#edit-reply-cancel-button {
  border: 1px solid black;
  width: 100px;
  background-color: darkgrey;
}

.edit-reply-form {
  display: flex;
  flex-direction: column;
}

.edit-reply-area {
  background-color: #f1f0ee;
}

.edit-reply-header {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .edit-reply-form {
    align-items: center;
  }

  .edit-reply-buttons {
    text-align: center;
    margin-top: 10px;
  }

  #reply-edit-save-button {
    margin-top: 5px;
  }
}
