#post-edit-save-button,
#post-edit-delete-button {
  border: 1px solid black;
  width: 100px;
  background-color: darkgrey;
}

#edit-post-cancel-button {
  border: 1px solid black;
  width: 100px;
  background-color: darkgrey;
}

.edit-post-form {
  display: flex;
  flex-direction: column;
}

.edit-post-header {
  text-align: center;
}

.edit-post-area {
  background-color: #f1f0ee;
}

#edit-title-input,
#edit-content-input,
textarea {
  border-style: inset;
  border-width: 2px;
  width: 300px;
  margin-left: 5px;
  margin-top: 5px;
}

#edit-title-input {
  width: 175px;
}

@media screen and (min-width: 768px) {
  .edit-post-form {
    align-items: center;
  }

  .edit-post-buttons {
    text-align: center;
    margin-top: 10px;
  }

  #post-edit-save-button {
    margin-top: 5px;
  }
}
