.forum-posts-doggy-picture-area {
  height: 100px;
  text-align: center;
  background-color: #ec9d66;
}

.forum-posts-headers {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 30px;
  margin-top: 0;
  background-color: #b95b5c;
}

#last-post {
  margin-left: 40%;
}

#thread {
  margin-left: 5px;
}

#thread,
#last-reply,
#replies {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.forum-post-list {
  list-style: none;
  text-align: left;
}

.forum-title-area {
  background-color: #ec9d66;
  position: relative;
}

h2 {
  color: navy;
}

.forum-post-titles {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin-top: 0;
}

.forum-posts {
  margin-top: 0;
}

#sign-up-to-post {
  margin-bottom: 0;
}

#forum-post-back-button {
  border: 1px solid black;
  position: absolute;
  bottom: 1px;
  font-size: 12px;
  left: 0;
  width: 50px;
  height: 25px;
}

@media screen and (min-width: 768px) {
  .forum-posts-headers {
    height: 35px;
    margin-top: 0;
  }

  #thread,
  #last-reply,
  #replies {
    font-size: 13px;
  }

  #last-reply {
    margin-left: 40%;
  }

  .forum-post-titles {
    font-size: 34px;
    padding-top: 50px;
  }

  #sign-up-to-post {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .forum-title-area {
    height: 170px;
    position: relative;
  }

  #sign-up-to-post {
    position: absolute;
    bottom: 0;
    font-size: 20px;
  }

  .forum-post-titles {
    font-size: 44px;
  }

  #new-thread-button {
    margin-top: -5%;
  }
}
