.forum-topic {
  font-size: 13px;
  font-weight: bolder;
  margin-top: 0;
}

.forum-titles {
  font-size: 13px;
  list-style: none;
  color: navy;
  margin-bottom: 1px;
}

.forum-list {
  background-color: #f1f0ee;
}

span {
  font-size: 10px;
}

.forum-totals {
  font-weight: bold;
}

/*.forum-topic,
.forum-titles,
span {
  margin-left: 3px;
}*/

@media screen and (min-width: 768px) {
  .forum-topic {
    font-size: 15px;
  }

  .forum-titles {
    font-size: 14px;
  }

  span {
    font-size: 11px;
  }
}

@media screen and (min-width: 1024px) {
  .forum-topic {
    font-size: 22px;
  }

  .forum-titles {
    font-size: 20px;
  }

  span {
    font-size: 16px;
  }
}
