.forum-posts-doggy-picture-area {
  height: 100px;
  text-align: center;
  background-color: #ec9d66;
}

.forum-posts-headers {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 30px;
  margin-top: 0;
  background-color: #b95b5c;
}

#last-post {
  margin-left: 40%;
}

#thread {
  margin-left: 5px;
}

#replies {
  margin-right: 3px;
}

#thread,
#last-reply,
#replies {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.forum-post-list {
  list-style: none;
  text-align: left;
}

.forum-title-area {
  background-color: #ec9d66;
  position: relative;
  height: 75px;
}

h2 {
  color: navy;
}

.forum-post-titles {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  margin-top: 0;
  color: black;
}

.forum-posts {
  margin-top: 0;
}

#sign-up-to-post {
  margin-bottom: 0;
  font-weight: bold;
}

#forum-post-back-button {
  border: 1px solid black;
  background-color: darkgrey;
  position: absolute;
  bottom: 1px;
  left: 0;
  -webkit-appearance: none;
}

#new-thread-button {
  position: relative;
  bottom: 36px;
  border: 1px solid black;
  background-color: darkgrey;
  -webkit-appearance: none;
  bottom: 6px;
  margin-left: 75%;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .forum-posts-headers {
    height: 35px;
    margin-top: 0;
  }

  #thread,
  #last-reply,
  #replies {
    font-size: 13px;
  }

  #thread {
    margin-left: 10px;
  }

  #replies {
    margin-right: 10px;
  }

  #last-reply {
    margin-left: 40%;
  }

  .forum-post-titles {
    font-size: 34px;
    padding-top: 35px;
  }

  #sign-up-to-post {
    margin-bottom: 0;
  }

  .forum-title-area {
    height: 120px;
  }

  #new-thread-button {
    bottom: 3px;
    right: -57px;
  }
}

@media screen and (min-width: 1024px) {
  .forum-title-area {
    height: 170px;
    position: relative;
  }

  #sign-up-to-post {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    right: 0;
  }

  .forum-post-titles {
    font-size: 46px;
    padding-top: 45px;
  }

  #new-thread-button {
    -webkit-appearance: none;
    top: 12px;
    right: -90px;
  }

  #replies {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px) {
  #new-thread-button {
    top: 12px;
    left: 9.5%;
  }
}
