.forum-headers {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 30px;
  background-color: #b95b5c;
  color: white;
}

#last-post {
  margin-left: 40%;
}

#forum {
  margin-left: 5px;
}

#forum,
#last-post,
#posts {
  font-size: 10px;
  font-weight: bold;
}

.forums-header-area {
  border: 1px solid black;
  height: 120px;
  text-align: center;
  background-color: #ec9d66;
}

#new-thread-button {
  border: 1px solid black;
  margin-right: 75%;
  margin-bottom: 10px;
}

#sign-up-to-post {
  text-align: left;
  color: red;
  font-size: 13px;
}

.about-us-info {
  border: 1px solid black;
  height: 120px;
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 12px;
  color: darkblue;
  font-family: Trebuchet MS, sans-serif;
}

.about-us-text {
  margin-right: 2px;
  margin-left: 2pxl;
}

@media screen and (min-width: 768px) {
  #forum,
  #last-post,
  #posts {
    font-size: 13px;
  }

  .forum-headers {
    height: 35px;
  }

  .about-us-info {
    font-size: 12px;
  }

  .about-us-text {
    line-height: 13px;
  }

  #new-thread-button {
    margin-right: 89%;
    margin-top: 3%;
  }
}
