.forum-headers {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 30px;
  background-color: #b95b5c;
  color: white;
}

#last-post {
  margin-left: 40%;
}

#forum {
  margin-left: 5px;
}

#forum,
#last-post,
#posts {
  font-size: 10px;
  font-weight: bold;
}

#posts {
  margin-right: 5px;
}

.forums-header-area {
  height: 130px;
  text-align: center;
  background-color: #ec9d66;
}

#forum-new-thread-button {
  border: 1px solid black;
  background-color: darkgrey;
  margin-left: 84%;
  width: 50px;
  height: 25px;
  font-size: 10px;
  margin-top: 8%;
  -webkit-appearance: none;
}

#sign-up-to-post {
  text-align: right;
  color: red;
  font-size: 12px;
}

.about-us-info {
  height: 120px;
  font-size: 10px;
  letter-spacing: 0.2px;
  line-height: 12px;
  color: darkblue;
  font-family: Trebuchet MS, sans-serif;
}

.about-us-text {
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 5px;
  margin-top: 0;
}

@media screen and (min-width: 375px) {
  #forum-new-thread-button {
    margin-left: 84%;
    margin-top: 6%;
  }
}

@media screen and (min-width: 425px) {
  #forum-new-thread-button {
    margin-left: 87%;
    margin-top: 8%;
  }
}

@media screen and (min-width: 768px) {
  #forum,
  #last-post,
  #posts {
    font-size: 13px;
  }

  #posts {
    margin-right: 20px;
  }

  .forum-headers {
    height: 35px;
  }

  .about-us-info {
    font-size: 12px;
  }

  .about-us-text {
    line-height: 13px;
    padding-top: 17px;
    margin-bottom: 0;
  }

  #forum-new-thread-button {
    margin-left: 93%;
    margin-top: 4%;
  }
}

@media screen and (min-width: 1024px) {
  .forums-header-area {
    height: 170px;
    position: relative;
  }

  .about-us-info {
    height: 150px;
    font-size: 15px;
    letter-spacing: 0.2px;
  }

  .about-us-text {
    line-height: 18px;
  }

  #forum,
  #last-post,
  #posts {
    font-size: 15px;
  }

  #forum-new-thread-button {
    width: 70px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    left: 0;
  }

  #sign-up-to-post {
    text-align: right;
  }

  #posts {
    margin-right: 12%;
  }

  #forum {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1440px) {
  #new-thread-button {
    left: 25px;
    bottom: 2px;
  }
}
