.forum-topic {
  font-size: 13px;
  font-weight: bolder;
  margin-top: 0;
}

.forum-titles {
  font-size: 13px;
  list-style: none;
  color: navy;
  margin-bottom: 1px;
  margin-left: 2px;
}

.forum-list {
  background-color: #f1f0ee;
}

span {
  font-size: 8px;
}

.forum-totals {
  font-weight: bold;
  font-size: 10px;
  float: right;
  margin-right: 13px;
}

@media screen and (min-width: 768px) {
  .forum-topic {
    font-size: 15px;
    line-height: 25px;
  }

  .forum-titles {
    font-size: 14px;
  }

  span {
    font-size: 11px;
  }

  .forum-totals {
    font-size: 12px;
    margin-right: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .forum-topic {
    font-size: 22px;
    line-height: 35px;
  }

  .forum-titles {
    font-size: 20px;
  }

  span {
    font-size: 16px;
    line-height: 35px;
  }

  .forum-totals {
    font-size: 16px;
    margin-right: 16%;
  }
}
