.doggy-dialogue-header {
  height: 40px;
  background-color: lightgrey;
}

#doggy-dialogue {
  font-size: 33px;
  font-family: Verdana, Geneva, "Lucida", "Lucida Grande", Arial, Helvetica,
    sans-serif;
  color: black;
}

.doggy-dialogue-link-area {
}

#doggy-dialogue-link {
  text-decoration: none;
}

#log-out-link {
  margin-left: 80%;
}
