.doggy-dialogue-header {
  height: 80px;
  background-color: #9396ff;
  background-size: 100% 100%;
}

#doggy-dialogue {
  font-size: 28px;
  font-family: impact;
  color: beige;
  margin-top: 0;
  padding-top: 15px;
}

#doggy-dialogue-link {
  text-decoration: none;
}

#log-out-link {
  margin-left: 80%;
}

.doggy-dialogue-link-area {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .doggy-dialogue-header {
    height: 75px;
  }

  #doggy-dialogue {
    font-size: 38px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .doggy-dialogue-header {
    height: 100px;
  }

  #doggy-dialogue {
    font-size: 60px;
  }
}
