.login-form {
  text-align: right;
}

.login-form-area {
  background-color: #ec9d66;
  height: 63px;
  position: relative;
}

#user-name,
#password {
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  width: 75px;
}

.login-button {
  border: 1px solid black;
  height: 13px;
  font-size: 8px;
  margin-right: 5px;
  margin-bottom: 3px;
}

#register-link {
  font-size: 10px;
  display: inline;
  margin-right: 5px;
}

#link-register {
  text-decoration: none;
}

#user-name-login-label,
#password-login-label {
  font-size: 10px;
  font-weight: bold;
}

#doggy-paw {
  height: 73px;
  width: 150px;
  position: absolute;
  left: 0;
  bottom: 5%;
}

#log-out-link {
  font-size: 10px;
  position: absolute;
  right: 0;
}

.alert-area {
  position: relative;
}

.red {
  position: absolute;
  bottom: 85px;
  right: 0;
  color: red;
  font-size: 3px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #user-name,
  #password {
    width: 100px;
  }

  #log-out-link {
    font-size: 14px;
  }

  .red {
    bottom: 95px;
    right: 15px;
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  #user-name,
  #password {
    width: 120px;
    height: 20px;
    margin-top: 5px;
  }

  #user-name-login-label,
  #password-login-label {
    font-size: 12px;
  }

  #register-link {
    font-size: 12px;
  }

  .login-button {
    width: 50px;
    height: 18px;
    font-size: 10px;
    margin-bottom: 0;
  }

  #log-out-link {
    font-size: 18px;
  }

  .login-form-area {
    height: 100px;
  }

  #doggy-paw {
    height: 130px;
    width: 230px;
    left: 3%;
    bottom: -5%;
  }

  .red {
    bottom: 120px;
    right: 25px;
    font-size: 15px;
  }
}
