.login-form {
  border: 1px solid black;
  text-align: right;
}

#user-name,
#password {
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  width: 75px;
}

.login-button {
  border: 1px solid black;
  height: 13px;
  font-size: 8px;
  margin-right: 5px;
  margin-bottom: 3px;
}
