.login-form {
  text-align: right;
  padding-top: 5px;
}

.login-form-area {
  height: 70px;
  position: relative;
}

#user-name,
#password {
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  width: 75px;
}

.login-button {
  border: 1px solid black;
  height: 13px;
  font-size: 8px;
  margin-right: 8px;
  margin-bottom: 3px;
  -webkit-appearance: none;
  padding-bottom: 5px;
  background-color: darkgrey;
}

#register-link {
  font-size: 10px;
  display: inline;
  margin-right: 5px;
  padding-bottom: 5px;
}

#link-register {
  text-decoration: none;
}

#user-name-login-label,
#password-login-label {
  font-size: 6px;
  font-weight: bolder;
}

#log-out-link {
  font-size: 10px;
  position: absolute;
  right: 20px;
  padding-top: 5px;
}

.red {
  color: red;
  font-size: 8px;
  font-weight: bold;
  margin-right: 100px;
  position: relative;
}

#woof {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 33%;
  top: 5%;
}

@media screen and (min-width: 375px) {
  #woof {
    left: 30%;
  }
}

@media screen and (min-width: 425px) {
  #woof {
    left: 25%;
  }
}

@media screen and (min-width: 768px) {
  #user-name,
  #password {
    width: 100px;
  }

  #log-out-link {
    font-size: 14px;
  }

  .red {
    font-size: 10px;
    bottom: 10px;
  }

  #woof {
    height: 40px;
    width: 40px;
    left: 14%;
    top: 5%;
  }
  .login-form {
    padding-right: 10px;
  }

  #user-name-login-label,
  #password-login-label {
    font-size: 8px;
  }
}

@media screen and (min-width: 1024px) {
  #user-name,
  #password {
    width: 120px;
    height: 20px;
    margin-top: 5px;
  }

  #user-name-login-label,
  #password-login-label {
    font-size: 12px;
  }

  #register-link {
    font-size: 12px;
  }

  .login-button {
    width: 50px;
    height: 18px;
    font-size: 10px;
    margin-bottom: 0;
  }

  #log-out-link {
    font-size: 18px;
  }

  .login-form-area {
    height: 100px;
  }

  #doggy-face {
    height: 100px;
    width: 180px;
    left: 3%;
    bottom: 0%;
  }

  .red {
    right: 35px;
    bottom: 5px;
    font-size: 15px;
  }

  #woof {
    height: 50px;
    width: 50px;
    left: 18%;
    top: 5%;
  }
}

@media screen and (min-width: 1440px) {
  #woof {
    left: 14%;
  }
}
