#navbar-image {
  height: 26px;
  width: 26px;
}

.nav-bar-area {
  background-color: #b95b5c;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.nav-bar-image-area {
  background-image: url("http://clipart-library.com/images/8iEbG84rT.gif");
}

#forums,
#adoption-and-rescue {
  font-weight: bold;
  color: white;
}

#forum-nav-bar-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #navbar-image {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 1024px) {
}
