.registration-form {
  border: 1px solid black;
  text-align: center;
  background-color: #f3f0f1;
}

input {
  border: 1px solid black;
}

.sign-up-button {
  border: 1px solid black;
}

.register-label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.password-rules {
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  line-height: 15px;
}
