.registration-form {
  text-align: center;
  background-color: #ec9d66;
  border: 1px solid black;
  padding-top: 10px;
}

input {
  border: 1px solid black;
}

.sign-up-button {
  border: 1px solid black;
  -webkit-appearance: none;
}

.register-label {
  width: 90px;
}

.password-rules {
  text-align: left;
  font-size: 10px;
  margin-left: 10px;
  line-height: 15px;
}

.red-register {
  color: red;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .register-label {
    font-size: 16px;
  }

  #register-user-name,
  #register-password {
    width: 180px;
  }

  .password-rules {
    font-size: 13px;
    line-height: 20px;
    margin-left: 20%;
  }

  .red-register {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .register-label {
    font-size: 24px;
  }

  .password-rules {
    font-size: 20px;
    line-height: 25px;
  }

  .red-register {
    font-size: 20px;
  }
}
