.register-header {
  text-align: center;
}

.register-area {
  background-color: #f1f0ee;
}

.register-header-area {
  border: 1px solid black;
  height: 100px;
  text-align: center;
}

.register-terms {
  font-size: 10px;
  margin-left: 7px;
  margin-right: 7px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .register-terms {
    margin-left: 20%;
    font-size: 12px;
  }
}
