.post-reply-area {
  border: 1px solid black;
  background-color: #f1f0ee;
}

.reply-content {
  font-size: 13px;
}

.reply-border {
  border: 1px solid black;
  background-color: #b95b5c;
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}
