.post-reply-area {
  background-color: #f1f0ee;
  position: relative;
  border: 1px solid black;
  overflow-wrap: break-word;
}

.reply-content {
  font-size: 13px;
  margin-left: 2px;
  margin-top: 3px;
  margin-bottom: 35px;
}

.reply-border {
  background-color: #b95b5c;
  font-size: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

#reply-author {
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .reply-content {
    margin-top: 10px;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #reply-author {
    font-size: 15px;
  }
}
