.user-post-header-area {
  height: 70px;
  text-align: center;
  position: relative;
  background-image: url("https://cdn5.eyeem.com/thumb/80bef8692f7243eb39473b70b748f15e701c0d9e-1555717620338/w/850");
  background-size: 100% 100%;
}

#back-button {
  border: 1px solid black;
  position: absolute;
  left: 1px;
  bottom: 2px;
  font-size: 10px;
}

#want-to-reply {
  color: red;
  text-align: center;
  font-size: 13px;
}

#orange-dog {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .user-post-header-area {
    height: 134px;
  }
}

@media screen and (min-width: 1024px) {
  #back-button {
    font-size: 15px;
  }

  .user-post-header-area {
    height: 170px;
  }
}
