.user-post-header-area {
  border: 1px solid black;
  height: 100px;
  text-align: center;
  background-color: #ec9d66;
}

#back-button {
  border: 1px solid black;
  position: relative;
  left: 37%;
}

#want-to-reply {
  color: red;
  text-align: center;
  font-size: 13px;
}
